#cloud-config
hostname: ${hostname}
fqdn: ${hostname}
prefer_fqdn_over_hostname: true
create_hostname_file: true

ssh_authorized_keys:
%{ for key in ssh_authorized_keys ~}
  - ${key}
%{ endfor ~}

package_update: true
packages:
  - openssh-server
  - python3
  - sudo

runcmd:
  - echo "bootstrap complete" > /var/log/bootstrap-ready.log
