hostname = "agent.csail.mit.edu"
fixed_ip = "128.52.131.32"

image_id = "7774057b-50a3-4a93-aaed-687e42e07d53"

admin_cidr = "128.52.128.31/32"

flavor_name = "ups.2c2g"

ssh_authorized_keys = [
        "ssh-ed25519 AAAAA my-ssh-key",
]
